name: Deploy Yandex Cloud Function
on:
  workflow_dispatch:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  deploy-bot-function:
    uses: iperevoschikov/YandexCloudFunctions.Net.Sdk/.github/workflows/yc-cloud-function-ci-template.yml@main
    with:
      yc-bucket-name: "telegram2todoist-sources"
      yc-folder-id: "b1ghjemjicrojm2tmnfc"
      yc-service-account-id: "ajehthnvvf1et4hphmb5"
      yc-function-id: "d4e0a03vmqaj555hlqm8"
      yc-function-entrypoint: "Telegram2Todoist.Functions.WebHookAsyncFunctionHandler"
      dotnet-project-name: "Telegram2Todoist.Functions"
    secrets:
      YC_OAUTH_TOKEN: ${{ secrets.YC_OAUTH_TOKEN }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      FUNC_ENV_VARIABLES: ${{ secrets.FUNC_ENV_VARIABLES }}
      
  deploy-scheduled-function:
    uses: iperevoschikov/YandexCloudFunctions.Net.Sdk/.github/workflows/yc-cloud-function-ci-template.yml@main
    with:
      yc-bucket-name: "telegram2todoist-sources"
      yc-folder-id: "b1ghjemjicrojm2tmnfc"
      yc-service-account-id: "ajehthnvvf1et4hphmb5"
      yc-function-id: "d4ejltb3ev98o35eaof3"
      yc-function-entrypoint: "Telegram2Todoist.Functions.OAuthAsyncFunctionHandler"
      dotnet-project-name: "Telegram2Todoist.Functions"
    secrets:
      YC_OAUTH_TOKEN: ${{ secrets.YC_OAUTH_TOKEN }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      FUNC_ENV_VARIABLES: ${{ secrets.FUNC_ENV_VARIABLES }}
